
/********************************************
item list
********************************************/
.default_item_list{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	font-size: 22px;
	color: #111111;
}
.default_item_list article {
	width:49%;
	max-width: 795px;
	margin-bottom: 14%;
	position: relative;
}
#NEW_ITEM .default_item_list article {
	max-width: 1195px;
}
.default_item_list article dl{
	position: relative;
	text-align: center;
}
.default_item_list article dt{
	width: 100%;
	height: 100%;
}
.default_item_list article dt .catchcopy{
    display: block;
    font-size: 1.36em;
    line-height: 1.2;
	/*font-family: 'Noto Serif JP', serif;*/ /*2023-12-7 removed*/
	font-family: 'Noto Sans JP', sans-serif; /*2023-12-7 added*/
    padding: 26px 0 22px;
    background: #c7ad6f;
    color: #FFF;
}
.default_item_list article dl dt .image_box{
	width:100%;
	height: 100%;
	overflow: hidden;
	display: block;
}

.default_item_list article dl dt .image_box1{
	width:100%;
	height: 100%;
	overflow: hidden;
	display: block;
	margin-top: 1rem;
}

.default_item_list article dl dt img{
	width:100%;
	height: auto;
}
.default_item_list article dt .icon{
	position: absolute;
	top:0.5%;
	left:0.5%;
	width: 168px;
	height: 168px;
}
.default_item_list article dd.description{
	max-width: 795px;
	margin: 0 auto;
}

.default_item_list article dd.description1{
	max-width: 795px;
	margin-bottom: 1rem;
}

.default_item_list article dd .name{
  min-height: 44px;
	margin:4% 0 2%; /*2023-12-11 changed from 4% 0 4%*/
	font-size: 1.0em; /*1.0em*/
	font-family: 'Noto Sans JP', sans-serif; /*2023-12-6追加*/
	display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
#PRICE_DOWN .default_item_list article dd .name{
  min-height:74px;
}
.default_item_list article dd .name .shipping{
	display: block;
}
.default_item_list article dd .price{
	/*font-family: 'Noto Serif JP', serif;*/ /*2023-12-6 removed*/
	font-family: 'Noto Sans JP', sans-serif; /*2023-12-6追加*/
}
.default_item_list article dd .normalPrice{
	display: block;
	font-size: 1.4em;
	line-height: 1.2;
	/*margin-bottom: 1%;*/ /*2023-12-11 removed; 2023-12-6 changed from 2%*/
	/*border-bottom: 1px #DFDFDF solid;*/ /*2023-12-6 removed*/
	border-top: 1px #DFDFDF solid; /*2023-12-5追加*/
	padding-top: 5px; /*2023-12-5追加*/
    /*padding-bottom: 10px;*/ /*20120-12-6 removed*/
	text-align: left; /*2023-12-5追加*/
}
.default_item_list article dd .normalPrice .txt{
  display: inline-block;
	font-size: 0.6em;
  text-decoration: none;
}
.default_item_list article.no dd .normalPrice{
	display: none!important;
}
.default_item_list article dd .normalPrice small{
  display: inline-block;
	font-size: 0.6em;
  text-decoration: none;
}
.default_item_list article dd .salePrice{
    display: block;
    font-size: 3.15em; /* 2023-12-11 changed from 4.2em*/
    color: #bf0000;
    font-weight: bold;
    line-height: 1;
}
.default_item_list article dd .salePrice .off_parts{
	display: inline-block;
    width: 150px; /*2023-12-11 changed from 180px; 2023-12-6 changed from 85px*/
    height: 66px; /*2023-12-11 changed from 85px*/
    margin-right: 20px;
	margin-top: 22px; /*2023-12-11 added*/
	vertical-align: text-top;
}
.default_item_list article dd .salePrice .off_parts img{
	width: 100%;
	height: auto;
}

.default_item_list article dd .salePrice small{
    color: #000;
    font-size: 0.48em;
    position: relative;
	margin-left: 5px;
}
.default_item_list article dd .salePrice small .tax{
	font-size: 0.33em;
    position: absolute;
    left: 0;
    top: -3px;
    display: block;
    width: 100%;
}
.default_item_list article dd .btn{
	margin-top: 25px; /*2023-12-11 changed from 35px*/
	display: flex;
	justify-content: space-between;
}
.default_item_list article dd .btn .RecoBtn{
	width: 64px;
	height: 64px;
	background-image: url(../images/icon/icon_reco.png);
	background-size: cover;
}

.default_item_list article dd .btn .RecoBtn a{
	display: block;
	width: 100%;
	height: 100%;
	font-size: 0;
	text-indent: -9999px;
	position: relative;
	z-index: 10;
}
.default_item_list article dd .btn .buyBtn{
	width: calc( 100% - 84px );
	height: 64px;
}
.default_item_list article dd .btn .buyBtn a{
	display: block;
	/*font-family: 'Noto Serif JP', serif;*/ /*2023-12-6 removed*/
	font-family: 'Noto Sans JP', sans-serif; /*2023-12-6追加*/
	font-size: 1.0em;
	color:#FFF;
	font-weight: bold;
	text-align: center;
	width:100%;
	height: 100%;
	display: flex;
	justify-content: center;
	font-size: 26px;
	align-items: center;
	border-radius: 10px;
	position: relative;
	z-index: 4;
	background-color: #bf0000;
}
.default_item_list article dd.link,
.default_item_list article dd.link a{
	position:absolute;
	top:0;
	left: 0;
	z-index: 3;
	display: block;
	width: 100%;
	height: 100%;
	font-size:0;
	text-indent:-9999px;
	background:none;
	opacity:0;
}

.default_item_list article dt .catchcopy.red{
	display: block;
	padding: 17px 0 16px;
	background: #bf0000;
}
.catchcopy.red img{
	width: 216px;
}
.column_1 .catchcopy.red img{
	width: auto;
}
/*--- 2024/2/28 added ---*/
.default_item_list2{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 2.5em;
}
.default_item_list2 article.column_1{
	width: 49%;
	max-width: 795px;
	margin-bottom: 5%;
	position: relative;
}
.default_item_list2 article.column_2{
	width: 49%;
	max-width: 795px;
	margin-bottom: 5%;
	position: relative;
}
.default_item_list2 article.column_1 dl dt .image_box,
.default_item_list2 article.column_2 dl dt .image_box{
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: block;
}
.default_item_list2 article.column_1 dl dt .image_box img,
.default_item_list2 article.column_2 dl dt .image_box img{
	width: 98%;
	margin: 0 1%;
}
.default_item_list2 article.column_1 dd.price_txt,
.default_item_list2 article.column_2 dd.price_txt{
	width: 100%;
	margin: 0.8em 0;
	text-align: center;
}
.default_item_list2 article.column_1 dd.price_txt span:first-of-type{
	color: #111111;
	font-size: 2.0em;
	vertical-align: text-bottom;
}
.default_item_list2 article.column_2 dd.price_txt span:first-of-type{
	color:#111111;
	font-size: 1.8em;
	vertical-align: text-bottom;
}
.default_item_list2 article.column_1 dd.price_txt span:last-of-type::before{
	content: "→";
	margin: 0 0.75em;
}
.default_item_list2 article.column_2 dd.price_txt span:last-of-type::before{
	content:"→";
	margin:0 0.5em;
}
.default_item_list2 article.column_1 dd.price_txt span:last-of-type{
	color: #bf0000;
	font-size: 3.2em;
	font-weight: 800;
}
.default_item_list2 article.column_2 dd.price_txt span:last-of-type{
	color: #bf0000;
	font-size: 2.8em;
	font-weight: 700;
}
.default_item_list2 article.column_1 dd.link,
.default_item_list2 article.column_1 dd.link a{
	position:absolute;
	top:0;
	left: 0;
	z-index: 3;
	display: block;
	width: 100%;
	height: 100%;
	font-size:0;
	text-indent:-9999px;
	background:none;
	opacity:0;
}

.default_item_list2 article.column_2 dd.link,
.default_item_list2 article.column_2 dd.link a{
	position:absolute;
	top:0;
	left: 0;
	z-index: 3;
	display: block;
	width: 100%;
	height: 100%;
	font-size:0;
	text-indent:-9999px;
	background:none;
	opacity:0;
}
/*--- 2024/2/28 added ↑---*/
/*-- テキスト見出し 2024/2/28 added --*/
.item__area .t-title,
.default_item_list2 .t-title{
	width: 100%;
	font-size:xx-large;
	text-align: center;
	color:#bf0000;
	font-weight: 700;
}
.item__area .t-title2{
	font-size: xx-large;
	text-align: center;
	color: #111111;
	margin: 2.0em 0 1.0em;
}
.item__area .t-title3{
	width: 1195px;
	margin: 1.0em auto 1em;
	padding: 1.0em 0;
	font-size: xx-large;
	text-align: center;
	color: #FFF;
	background-color: #bf0000;

}

.large-text {
    font-size: xxx-large; /* ここでフォントサイズを指定します */
    font-weight: 900;    /* フォントの太さも調整可能 */
}


@media (min-width: 641px) {
	.default_item_list article dl{
		transition: all 0.4s ease;
	}
	.default_item_list2 article.column_2 dl{
		transition: all 0.4s ease;
	}
	.default_item_list article dl:hover{
		transform: scale(1.02);
	}
	.default_item_list2 article.column_2 dl:hover{
		transform: scale(1.02);
	}

}
@media (max-width: 640px) {
	.default_item_list{
		font-size: 14px;
	}
	.default_item_list1{
		font-size: 14px;
		margin: 1rem;
	}
	.default_item_list article{
		width: 50%;
		margin-bottom: 5%;
	}
	.default_item_list article1{
		width: 49%;
		margin-top: 1rem;
    	background-color: white;
	}
	/*--- 2024/2/28 added ---*/
	.default_item_list2{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-top: 1.0em;
	}
	.default_item_list2 article.column_2{
		width: 49%;
	}
	.default_item_list2 article.column_2 dd.price_txt{
		width: 100%;
		margin: 0.8em 0;
		text-align: center;
	}
	.default_item_list2 article.column_2 dd.price_txt span:first-of-type{
		color:#111111;
		font-size: 1.2em;
	
		vertical-align: text-bottom;
	}
	.default_item_list2 article.column_2 dd.price_txt span:last-of-type::before{
		content:"→";
		margin:0 0.2em;
	}
	.default_item_list2 article.column_2 dd.price_txt span:last-of-type{
		color: #bf0000;
		font-size: 1.8em;
		font-weight: 700;
	}
	/*--- 2024/2/28 added ↑---*/

	.default_item_list article dl{
		padding: 1% 2% 0;
	}
	.default_item_list article dt .catchcopy{
		padding: 2% 1%;
		font-size: 0.8em;
	}
	.default_item_list article dt .catchcopy.red{
		padding: 4% 20%;
	}
	.column_1 .catchcopy.red img,
	.catchcopy.red img{
		width: 100%;
		height: auto;
	}

	.default_item_list article dd .name{
		/*min-height: 24px;*/
		min-height: 30px; /*2023-12-11 changed from 43px*/
	}
	#PRICE_DOWN .default_item_list article dd .name{
		min-height: 44px;
	}
	.no_item_name .default_item_list article dd .name{
		/*min-height: auto;*/
		min-height: 24px;
		margin:2% 0;
	}
	.default_item_list article dd .name .shipping{
		height: 22px;
	}
	.default_item_list article dd .name .shipping img{
		width: auto;
		height: 100%;
		vertical-align: text-top;
	}
	.default_item_list article dd .normalPrice{
		font-size: 1.1em; /*2023-12-7 added*/
	}
	.default_item_list article dd .normalPrice .txt{
		font-size: 0.5em; /*2023-12-7 added*/
	}
	
	.default_item_list article dd .salePrice{
		font-size: 2.4em; /*2023-12-6 changed from 2.8em*/
	}
	.default_item_list article.long_price dd .salePrice{
		font-size: 2.4em;
		letter-spacing: -1px;
	}
	.default_item_list article.long_price dd .salePrice small{
		font-size: 22px;
	}
	.default_item_list article dd .salePrice .off_parts{
		width: 57px; /*2023-12-6 changed from 40px*/
		height: 25px; /*2023-12-11 changed from 40px*/
		margin-right: 2px;
		margin-top: 0; /*2023-12-11 added*/
	}

	.default_item_list article dd .salePrice .off_parts img{
		margin-top: 10px; /*2023-12-7 added*/
		vertical-align: text-top; /*2023-12-7 added*/
	}
	.default_item_list article dd .salePrice small{
		margin: 0;
		font-size: 24px;
	}
	.default_item_list article dd .salePrice small .tax{
		font-size: 10px;
		width: 40px;
		top: -3px;
		letter-spacing: -1px;
		text-align: left;
	}
	.default_item_list article dd .btn{
		margin-top: 6%;
	}
	.default_item_list article dd .btn .RecoBtn{
		width: 32px;
		height: 32px;
	}
	.default_item_list article dd .btn .buyBtn{
		width: calc( 100% - 34px );
		height: 32px;
	}
	.default_item_list article dd .btn .buyBtn a{
		font-size: 1em;
		border-radius: 3px;
	}
	/*-- テキスト見出し 2024/2/28 added --*/
	.item__area .t-title{
		font-size:x-large;
		text-align: center;
		color:#bf0000;
	}
	.item__area .t-title2{
		font-size: x-large;
		text-align: center;
		color: #111111;
		margin: 1.0em 0;
	}
	.item__area .t-title3{
		width: 100%;
		margin: 1.0em auto 0em;
		font-size: x-large;
		font-weight: 800;
		text-align: center;
		color: #FFF;
		background-color: #bf0000;
		}
	.large-text {
    font-size: xx-large; /* ここでフォントサイズを指定します */
    font-weight: 900;    /* フォントの太さも調整可能 */
}
}
/************* column_1  *****************/
.default_item_list article.column_1 {
	width:100%;
	margin:0 auto 14%;
	font-size: 26px;
}
.default_item_list article.column_1 dd .salePrice .off_parts{
	width: 150px; /*2023-12-11 changed from 225px; 2023-12-6 changed from 115px*/
    height: 66px; /*2023-12-11 changed from 115px; 2023-12-6 changed from 115px*/
}
.default_item_list article.column_1 dd .salePrice .off_parts img{
	margin-top: 8px; /*2023-12-7 added 2023-12-11 changed from 38px*/
	vertical-align: text-top; /*2023-12-7 added*/
}
.default_item_list article.column_1 dd .name .shipping{
	height: 44px;
}
.default_item_list article.column_1 dd .btn .RecoBtn{
	width: 86px;
	height: 86px;
}
.default_item_list article.column_1 dd .btn .buyBtn{
	height: 86px;
	width: calc( 100% - 106px );
}

#COUPON .default_item_list article.column_1 dd .salePrice .off_parts{
	width: 112px; /*2023-12-12 changed from 75px*/
    height: 49px; /*2023-12-12 changed from 75px*/
	margin-right: 10px;
}
/*--- 2024/2/28 added ---*/
.default_item_list2 article.column_1{
	width:100%;
	margin:5% auto;
}
/*--- 2024/2/28 added ↑ ---*/

@media (max-width: 640px) {
	.default_item_list article.column_1{
		font-size: 18px;
		margin-bottom: 10%;
	}
	.default_item_list article.column_1 dd .name .shipping{
		height: 28px;
	}
	.default_item_list article.column_1 dd .normalPrice{
		font-size: 1.4em; /*2023-12-7 added*/
	}
	.default_item_list article.column_1 dd .normalPrice .txt{
		font-size: 0.6em; /*2023-12-7 added*/
	}
	.default_item_list article.column_1 dd .salePrice{
		font-size: 3.0em; /*2023-12-12 changed from 3.8em; 2023-12-7 changed from 4.0em*/
	}
	.default_item_list article.column_1 dd .salePrice .off_parts{
		width: 90px; /*2023-12-12 changed from 127px; 2023-12-6 changed from 65px*/
		height: 49px; /*2023-12-12 changed from 55px; 2023-12-7 changed from 65px*/
		margin-top: 0; /*2023-12-11 added*/
	}
	.default_item_list article.column_1 dd .salePrice .off_parts img{
		margin-top: 20px; /*2023-12-12 changed from 26px; 2023-12-7 added*/
	}
	.default_item_list article.column_1 dd .btn .RecoBtn{
		width: 46px;
		height: 46px;
	}
	.default_item_list article.column_1 dd .btn .buyBtn{
		height: 46px;
		width: calc( 100% - 52px );
	}
	#COUPON .default_item_list article.column_1 dd .salePrice .off_parts{
		width: 60px; /*2023-12-12 changed from 40px*/
		height: 27px; /*2023-12-12 changed from 40px*/
	}
	
}
/*--- 価格非表示エリア：NO-PRICE ---*/
#NO-PRICE .default_item_list .price {
	display: none !important;
  }
#NO-PRICE1 .default_item_list .price {
	display: none !important;
  }
#NO-PRICE2 .default_item_list .price {
	display: none !important;
  }
#NO-PRICE3 .default_item_list .price {
	display: none !important;
  }
#NO-PRICE4 .default_item_list .price {
	display: none !important;
  }
#NO-PRICE5 .default_item_list .price {
	display: none !important;
  }
#NO-PRICE6 .default_item_list .price {
	display: none !important;
  }
#NO-PRICE7 .default_item_list .price {
	display: none !important;
  }
#NO-PRICE8 .default_item_list .price {
	display: none !important;
  }
#NO-PRICE9 .default_item_list .price {
	display: none !important;
  }
#NO-PRICE10 .default_item_list .price {
	display: none !important;
  }
/*** coupon price ***/
#COUPON .default_item_list article dd .normalPrice{
	/*display: inline-block;*/ /*2023-12-12 removed*/
    border: none;
	font-size: 1.6em;
	text-decoration: line-through;
}
#COUPON .default_item_list article dd .salePrice{
    display: inline-block;
    border: none;
	font-size: 3em;
}
#COUPON .default_item_list article dd .couponPrice {
	border-top: 1px #DFDFDF solid;
	padding-top: 8%;
	font-family: 'Noto Sans JP', sans-serif; /*2023-12-12 added*/
}
#COUPON .default_item_list article.column_1  dd .couponPrice .salePrice .off_parts{
	width: 325px;
	height: 125px;
}
#COUPON .default_item_list article dd .couponPrice .salePrice{
	font-size: 5.2em;
}
@media (max-width: 640px) {
	#COUPON .default_item_list article dd .normalPrice{
		font-size: 1.1em; /*2023-12-12 changed from 1.3em*/
	}
	#COUPON .default_item_list article dd .salePrice{
		font-size: 2.6em; /*2023-12-12 chanegd from 2.8em*/
	}
	#COUPON .default_item_list article dd .couponPrice{
		padding-top: 4%;
	}
	#COUPON .default_item_list article dd .couponPrice .salePrice{
		font-size: 3.6em;
	}
	#COUPON .default_item_list article.column_1 dd .couponPrice .salePrice .off_parts{
		width: 130px;
		height: 65px;
		margin-right: 5px;
	}
	#COUPON .default_item_list article.column_1 dd .couponPrice .salePrice .off_parts img{
		vertical-align: baseline;
	}
}