@charset "utf-8";

/********************************************
reset
********************************************/
body{
	text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	margin:0;
	padding:0;
	color:#080808;
	font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
	font-size:14px;
	line-height:1.5;
}
@media (min-width: 641px) {
	a{
		transition: all 0.6s ease;
	}
	a:hover{
		opacity: 0.8;
	}
}
@media (max-width: 640px) {
	body{
		font-size:13px;
		width: 100%;
		overflow-x: hidden;
	}
	img{
		width:100%;
		height: auto;
	}
}


/********************************************
rayout
********************************************/
#wrapper{
	width: 100%;
	overflow: hidden;
}
@media (min-width: 641px) {
	header.sphidden{
		margin-bottom: 70px;
	}
}


/********************************************
common
********************************************/
.title{
	text-align: center;
}
.title__img{
	padding-top: 90px;
	max-width: 1148px;
	margin: 0 auto 75px;
}
.title__img img{
	width: 100%;
	height: auto;
}

.price__img img{
	width: 70%;
	height: auto;
}

.title__text{
	width: 100%;
	background: #e3cad0;
	padding:89px 0 77px;
	position: relative;
	margin-bottom: 160px;
}
.title__text::after{
	content: "";
	display: block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 40px 25px 0 25px;
	border-color: #e3cad0 transparent transparent transparent;
	position: absolute;
	bottom:-40px;
	left: 50%;
	transform: translateX(-50%);
}

#SUMMER_INNER .title__text{
	background: #DCE7F3;
}
#SUMMER_INNER .title__text::after{
	border-color: #DCE7F3 transparent transparent transparent;
}

#BRA_SET .title__text{
	background: #EFEFEF;
}
#BRA_SET .title__text::after{
	border-color: #EFEFEF transparent transparent transparent;
}

#DAILY_ITEM .title__text{
	background: #F1EBEB;
}
#DAILY_ITEM .title__text::after{
	border-color: #F1EBEB transparent transparent transparent;
}

#FEMTECH_ITEM .title__text{
	background: #EFEFEF;
}
#FEMTECH_ITEM .title__text::after{
	border-color: #EFEFEF transparent transparent transparent;
}

#NIGHT_BRA .title__text{
	background: #DCE7F3;
}
#NIGHT_BRA .title__text::after{
	border-color: #DCE7F3 transparent transparent transparent;
}

#LULUSMART_BRA .title__text{
	background: #F0E1E6;
}
#LULUSMART_BRA .title__text::after{
	border-color: #F0E1E6 transparent transparent transparent;
}

#RANKING .title__text{
	background: #EFEFEF;
}
#RANKING .title__text::after{
	border-color: #EFEFEF transparent transparent transparent;
}

#NEW_ITEM .title__text{
	background: #A6D9DA;
}
#NEW_ITEM .title__text::after{
	border-color: #A6D9DA transparent transparent transparent;
}


.inner{
	max-width: 1195px;
	margin: 0 auto;
}

.color__red{
	background-color: #E2000E;
	color: #FFF;
}
.color__yellow{
	background-color: #F7F53E;
}
.color__gray{
	background-color: #F7F7F7;
}

@media (min-width: 641px) {
	.pchidden{
		display:none;
	}
}
@media (max-width: 640px) {
	.sphidden{
		display: none;
	}
	.title__img{
		padding-top: 30px;
		margin: 0 auto 20px;
	}
	.title__text{
		padding: 30px 0 30px;
		margin-bottom: 28px;
	}
	.title__text::after{
		border-width: 20px 25px 0 25px;
		bottom: -20px;
	}
	.title__text img{
		width: auto;
		height: 58px;
	}
}

/********************************************
main banner
********************************************/
#mainbanner{
	width: 1100px; /*2023-12-19 changed from 100%*/
	margin: 0 auto; /*2023-12-19 added*/
	overflow: hidden;
}
.main__text img{
	width: 100%;
	height: auto;
}
#bnr_area .bnr_area_item{
	width: 1100px; /*2023-12-19 added*/
	margin: 0 auto;; /*2023-12-19 added*/
}
@media (max-width: 640px) {
	#mainbanner{
		width: 100%;; /*2023-12-19 added*/
	}
	#bnr_area .bnr_area_item{
		width: 100%;; /*2023-12-19 added*/
	}
}


/********************************************
item area
********************************************/
.item__area{
	padding-bottom: 10px;
}
#TIMESALE.item__area{
	padding-bottom: 120px;
}
@media (max-width: 640px) {
	.item__area{
		padding-bottom: 10px;
	}
	#TIMESALE.item__area{
		padding-bottom: 40px;
	}
}

.moreBtn{
	width: 550px;
	height: 70px;
	margin: 5% auto 0;
}
.moreBtn a{
    font-family: 'Noto Serif JP', serif;
    color: #FFF;
    font-weight: bold;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    font-size: 26px;
    align-items: center;
    border-radius: 10px;
    position: relative;
    z-index: 4;
    background-color: #bf0000;
}
@media (max-width: 640px) {
	.moreBtn{
		width: 80%;
		height: 40px;
	}
	.moreBtn a{
		font-size: 13px;
		border-radius: 5px;
	}
}


/********************************************
coupon
********************************************/
body #COUPON .default_item_list article dd .couponPrice{
	margin-top: 0%;
	padding-top: 4%;
}
.couponPticeAdd{
	font-size: 1.0em;
	color: #111;
}
.itemCoupon{
	margin-top: 10px;
}
.itemCoupon a{
	position: relative;
	z-index: 10;
}
.itemCoupon img{
	width: 100%;
	height: auto;
}

/********************************************
bottom
********************************************/
.foot_menu{
	text-align: center;
}
.foot_menu li{
	margin-bottom: 100px;
}
@media (max-width: 640px) {
	.foot_menu li{
		padding: 0 2%;
		margin-bottom: 15px;
	}
}



#menu_link {
  max-width: 1195px;
  margin: 0 auto 90px;
}

#menu_link ul {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
}

#menu_link ul li {
  width: auto;
  margin: 0 10px;
  border-right: 1px solid #ffffff;
}

#menu_link ul li:last-of-type {
  border-right: none;
}

#menu_link ul li a img {
  width: auto;
}
@media (min-width: 641px) {
	.sp_cont{
	  display: none;
	}
}
@media (max-width: 640px) {
	#menu_link {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		max-width: fit-content;
		margin: 0;
		z-index: 100;
	  }
	  .pc_cont{
		display: none;
	  }
	  
	  #menu_link ul {
		margin-bottom: 0;
		background-color: #ffffff;
	  }
	  
	  #menu_link ul li {
		width: 14%;
		border-right: none;
	  }
	  
	  #menu_link ul li a img {
		width: 100%;
	  }
}


/********************************************
sp_cate area
********************************************/
section.sp_cate li img{
  width: 100%;
}
@media screen and (min-width: 1025px){
	section.sp_cate{
		display: none;
	}
}


/********************************************
pc_cate area
********************************************/
section.pc_cate{
	display: none;
}
@media screen and (min-width: 1025px){
	section.pc_cate{
		display:block;
		width: 952px;
		margin:0 auto 40px;
	}
	section.pc_cate li{
    margin-bottom: 10px;
  }
	section.pc_cate li img{
    width: 100%;
	}
}


/********************************************
sp banner area
********************************************/
.cont-block-big{
	background:#FFF;
	margin:1px 4%;
	width:92%;
}
.cont-block-big a{
  text-decoration:none;
}
.cont-block-big p{
  color:#666;
}
.cont-block-big p.pic img{
	width:100%;
}
.cont-block-big p.desc{
  font-size: 15px;
  font-weight: 600;
  padding:5px 0 10px;
  /*font-size:1.2em;*/
  text-align:left;
  color:#3A3A3A;
}
.cont-block-big p.title{
  font-size: 18px;
  font-weight: 600;
  padding:5px 0 0;
  color:#d14e77; /* #FF3399 */
  text-align:left;
}
section.sp #box,
section.sp #itemlist{
	width: 90%;
	margin: 20px 5%;
	box-sizing: border-box;
}
section.sp #itemlist ul{
	width: 100%;
	display: flex;
	flex-wrap:wrap;
	justify-content:space-between;
}
section.sp #itemlist ul li{
	width: 48%;
}
section.sp #box li{
	margin-bottom: 15px;
}

@media screen and (min-width: 1025px){
  section.sp {
      display: none;
  }
}


/********************************************
メール便送料無料 area
********************************************/
p.toptext{
	/*font-family: 'Noto Sans Japanese', sans-serif;*/
	font-weight: 600;
	text-align:center;
	color:#3E3E3E;
	font-size:1.8rem;
	line-height:1.4;
	margin:10px 0;
}
.toptext a{
	color: #0000FF;
	text-decoration: underline;
}
.toptext span:first-child{
	font-size:2.8rem;
	color:#d33666; /*FF2353*/
}

.toptext span:last-of-type,
.toptext span:last-child a{
	font-size:2.2rem;
	color:#861d3d; /*FE5900*/
}
section.freefee{
  margin: 40px 0;
}
section.freefee .toptext{
  font-size: 18px;
}
section.freefee .toptext span{
  font-size: 22px;
}
@media screen and (min-width: 1025px){
	section.freefee{
		max-width:1200px;
		margin:0 auto 30px;
	}
	section.freefee .toptext{
		max-width:952px;
		margin:0 auto;
    font-size: 20px;
	}
	section.freefee .toptext span{
    font-size: 23px;
	}
}


/********************************************
base banner area
********************************************/
nav.below{
  display: none;
}
@media (min-width: 1025px) {
  nav.below{
    display:block;
    max-width:1200px;
    margin: 0 auto;
  }
  /*nav.below{
    width: 952px;
    margin:0 auto;
    box-sizing:border-box;
  }*/
  nav.below ul{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap; /* Safari */
    flex-wrap: wrap;
    -webkit-justify-content: space-between; /* Safari */
    justify-content: space-between;
    max-width: 952px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
  }
  .below li{
    list-style: none;
    display: block;
    width: 47%;
    margin: 10px 0 20px 0;
    border-radius:10px;
    box-shadow:0px 0px 1px 1px #DDD;
  }
  .below li a{
    display: block;
    margin: 0;
    padding: 15px;
    color: #fff;
    text-align:center;
    font-size: 2.4em;
    font-weight: bold;
    border-radius:10px;
    box-shadow:0px 0px 1px 1px #DDD;
  }
  .below a:first-child{
    background-color:#fc9d99;
  }
  .below li:nth-child(2) a{
    background-color:#e083a0; 
  }
  .below li:nth-child(3) a,
  .below li:nth-child(4) a{
    background-color:#999999; 
  }
}
